includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - app
        - routes
        - database

    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkMissingCallableSignature: true
    checkOctaneCompatibility: true
    checkGenericClassInNonGenericObjectType: false

    exceptions:
        check:
            tooWideThrowType: true
            missingCheckedExceptionInThrows: true

    ignoreErrors:
        - '#^.*RuntimeException.*$#'

    excludePaths:
        - app/Http/Middleware
